# Dependencies
node_modules/

# Production build
dist/

# Large binaries
resources/bin/ffmpeg.exe
resources/bin/yt-dlp.exe

# OS files
.DS_Store
Thumbs.db
*.log

# Editor folders
.idea/
.vscode/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
